@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
body{
    background-color: black;
    text-decoration-color: white;

}
.wrapper {
    border-radius: 25% 10%;
    margin-left: 25%;
    padding-top: 10%;
    display:grid;
    grid-template-columns: 20% 20% 20% 10%;
    grid-template-rows: 3vh  25vh 30vh;
    grid-template-areas:
            "Home Home Home"
            "Contact Projects Aboutme"
            "Main Main Main";
}
.item{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}
.item:visited{
    color:white;
    text-decoration: none;

}
.item:link{
    color:white;
    text-decoration: none;
}
.item-1{
    grid-area: Main;
    border-bottom-left-radius: 43px 44px;
    border-bottom-right-radius: 43px 44px;
    font-size: 2vw;




}
.item-2{
    grid-area: Projects;
    border-top-left-radius: 43px 44px;
    font-size: 3vw;

}

.item-3{
    grid-area: Aboutme;
    font-size: 2vw;


}

.item-4{
    grid-area: Contact;
    font-size: 2vw;


}
.item-5{
    grid-area: Home;
    border-top-right-radius: 43px 44px;
    justify-self: end;
    font-size: 2vw;


}

.detail{
    color:white;

}
.about{
    color:white;
    text-align: left;
}
.github{
    color:white;
}
.lista{
    color: white;
    list-style-type:none;
}

.smoll{
    color:gray;
    font-size: 1vw;

}
.biggie{
    font-size: 2vw;

    line-height: 30px;
    margin-left: 10px;
}