@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
body{
    background-color: black;
    text-decoration-color: white;


}
.wrapper {
    border-radius: 25% 10%;
    margin-left: 25%;
    padding-top: 10%;
    display:grid;
    grid-template-columns: 20% 20% 20% 10%;
    grid-template-rows: 50  50px 150px;
    grid-template-areas:
            "Home Home Home"
            "Projects Aboutme Contact"
            "Main Main Main";
}
.item{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 5vh;

}
.item:visited{
    color:white;
    text-decoration: none;

}
.item:link{
    color:white;
    text-decoration: none;
}
.item-1{
    grid-area: Main;
    border-bottom-left-radius: 43px 44px;
    border-bottom-right-radius: 43px 44px;



}
.item-2{
    grid-area: Projects;
    border-top-left-radius: 43px 44px;

}

.item-3{
    grid-area: Aboutme;

}

.item-4{
    grid-area: Contact;

}
.item-5{
    grid-area: Home;
    border-top-right-radius: 43px 44px;
    justify-self: end;
}

.detail{
    color:white;
    text-align: center;

}
.about{
    color:white;
    text-align: left;
}
.github{
    color:white;
}
